
html{
    scroll-behavior: smooth;
}

.navContainer{
    background: cyan;
    padding: 20px;
    display: flex;
    justify-content: flex-end;

}

.navContainer a{
    text-decoration: none;
    font-size: 18px;
    margin-right: 50px;
    color: black;
}

.blueParent{
    background: rgba(62, 100,255, 0.1);
}

.heroContainer{
    display: flex;
    padding: 120px 80px;
    max-width: 1100px;
    margin: auto;
}

.hero-content{
    flex: 2;

}

.hero-content h1{
    max-width: 500px;
    margin-bottom: 50px;
}

.hero-content p{
    max-width: 500px;
    margin-bottom: 50px;
}

.hero-content a{
    text-decoration:  none;
    background: blue;
    padding: 17px 32px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 8px;
}

.hero-image{
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.skillsContainer{
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

.skillsContainer h1{
    padding-bottom: 20 px;
    border-bottom: 3px solid blue;
}

.skillsContainer span{
    margin-top: 20px;
}

.skillsItemsContainer{
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 100%;
    grid-gap:40px ;
}

.outerdiv {
    width: 100%;
    height: 20px;
    border-radius: 6px;
    background-color: #c4c4c4;
}

.htmldiv{
    width:40%;
    height: 20px;
    border-radius: 6px;
    background-color: blue;
}

.cssdiv{
    width:20%;
    height: 20px;
    border-radius: 6px;
    background-color: blue;
}

.gitdiv{
    width:15%;
    height: 20px;
    border-radius: 6px;
    background-color: blue;
}

.jsdiv{
    width:10%;
    height: 20px;
    border-radius: 6px;
    background-color: blue;
}

.projectsContainer {
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

.projectsContainer h1 {
    padding-bottom: 20px;
    border-bottom: 3px solid blue;
}

.projectItemsContainer{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,auto);
     width: 100%;
    grid-gap: 80px;
}

.project {
    border: 3px solid #ececec;
    padding: 40px;
    background: #fff;
    border-radius: 16px;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .socials {
    margin-bottom: 10px;
  }
  
  .fab {
    font-size: 25px;
    color: black;
    margin-right: 20px;
  }